# Copyright (c) 2026 Erick Bourgeois, mediatore
# SPDX-License-Identifier: Apache-2.0

MEDIATORE_URL=https://mediatore.sandbox.example:8443
SPIFFE_ENDPOINT_SOCKET=/run/spire/sockets/agent.sock
RUST_LOG=info
